// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.temperaturebox {
-webkit-border-radius: 0.3em;
-moz-border-radius: 0.3em;
-ms-border-radius: 0.3em;
-o-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
-moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
border: 0.15em solid #1985d0;
  	margin: .5em;
background-image: none;
}

.timerbox {
-webkit-border-radius: 0.3em;
-moz-border-radius: 0.3em;
-ms-border-radius: 0.3em;
-o-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
-moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
border: 0.15em solid #1985d0;
  	margin: .5em;
background-image: none;
}

.temperaturedisplay {
text-align: right;
    font-size: 80px;
    margin:0px 0px 10px 0px;
}

.temperaturelabeldisplay {
    font-size: 30px;
    margin:25px 20px 10px 5px;
}

.timerdisplay {
text-align: center;
    font-size: 50px;
    margin:10px 10px 10px 10px;
}

